.provider {
    font-size: 1.125rem;
    line-height: 1.5rem;

    width: 100%;

    border-color: var(--border);
    border-width: 2px;
    border-style: solid;
    border-radius: var(--radius);
    background: white;
}

.provider>span {
    font-size: 0.825rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: capitalize;
}

.discord {
    color: #7289da;
}

.google {
    color: #db4437;
}