.button {
    font-size: 1rem;
    line-height: 1.5rem;

    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 4px);

    padding: 0 1rem;

    text-transform: uppercase;
    font-weight: 500;
    color: #868686;

    background: white;
    border-radius: var(--radius);

}

.button:hover {
    color: #353535;
}

@media (min-width: 768px) {
    .button {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}